.App {
  max-width: 960px;
  margin: auto;
  padding-bottom: 2em;
}

h2 {
  border-bottom: solid 2px lightgray;
  border-top: solid 2px lightcyan;
  background: #f0f0f0;
  padding: .5em;
}

div {
  margin: 0;
  padding: 0;
}

table {
  padding-top: 1em;
  padding-bottom: 1em;
}

thead th {
  border-bottom: solid lightgray 2px;
}

td, th {
  min-width: 10em;
  padding: .8em;
  font-size: .8em;
}

tr:nth-child(odd) {
  background: #f7f7ff;
}

textarea {
  margin: auto;
  width: 100%;
}

.usage {
  font-size: .8em;
}

p.error {
  padding: 1em;
  background: lavenderblush;
  border: solid 2px pink;
}

.tooltip {
  display: inline-block;
  position: relative;
}

.info::before {
  content: "ⓘ";
}

.tooltip::after {
    position: absolute;
    visibility: hidden;
}

.tooltip::after {
  font-size: 1rem;
  background: #5f6368;
  border-radius: .5em;
  color: #fff;
  content: attr(data-tooltip);
  left: calc(100% + .5em);
  padding: .5em 1em;
  top: 0%;
  white-space: nowrap;
}

.tooltip:hover {
  cursor: help;
}

.tooltip:hover::after {
  visibility: visible;
}
