.App {
  max-width: 960px;
  margin: auto;
  padding-bottom: 2em;
}

div {
  margin: 0;
  padding: 0;
}

table {
  padding-top: 1em;
  padding-bottom: 1em;
}

td {
  min-width: 10em;
  padding: .8em;
  font-size: .8em;
}

tr:nth-child(odd) {
  background: #f7f7ff;
}

textarea {
  margin: auto;
  width: 100%;
  min-height: 5ex;
  font-family: monoscape;
}

#output {
  min-height: 20ex;
}